<div class="page-container">

  <!-- Section 1: Title and Intro -->
  
<div class="section-title">
  <h1 class="is-size-1 has-text-centered" style="margin-bottom: 4%;">Natal Chart Reading</h1>
  <p class="has-text-centered has-text-white is-size-3 yellow-light" style="margin-bottom: 4%; font-family: cursive;">
      The blueprint to your highest expression
  </p>
  <div class="purchase-button-container-low">
      <a href="/reading-checkout" class="button button-primary">
          Book Your Reading
      </a>
  </div>
</div>




<div class="birth-chart-container">

<blockquote class="is-size-3 yellow-light spaced-text" style="font-family: cursive;">Decrypt the wisdom in your Natal Chart</blockquote>
  
  <p style="margin-top: 4vh;">The Sun, the Moon, and all the planets in our solar system were arranged in a unique geometric configuration the moment you were born.
  
  As you took your first breath here on Earth, you received the cosmic imprint of the solar system as a map of your inner world.

  Your soul chose the exact positioning of the Sun, Moon and all the planets because its archetypal imprint was an energetic match to the experience and lessons you are meant to have in this lifetime.</p>

  <blockquote class="is-size-3 yellow-light spaced-text" style="font-family: cursive;">
    Astrology is the most precise tool you have for deciphering your unfoldment in this lifetime.
</blockquote>
  
  <p style="margin-top: 1vh; margin-bottom: 5vh;">You are born with amnesia; once your soul and body merged , you forgot the reasons you wanted to have this life. Thankfully, the stars can help you remember your intentions. They form a map of symbols in which your soul contract was crystallized, and you can use it to remember your way back to your truest expression of yourself.

    I am here to translate it for you, to answer the huge question "who am I, and why am I here" so you can continue your life in alignment with who you truly desire to be. Your chart has the power to connect you to your Higher Self, which has a plan for you. This is the path of least resistance, where everything finds its natural flow and where you find your inner power.
    </p>

  
  

<div class="reading-details">

  <div class="banner has-background-black-ter">
    <a href="/reading-checkout" class="banner-link">
        <h1 class="is-size-3 has-text-centered" style="margin-top: 0vh;">
          Book Your Reading Here
        </h1>
    </a>
</div>



</div>

  <h2 class="is-size-3 yellow-light has-text-centered" style="font-family: cursive;">What is your birth chart?</h2>
  <p style="margin-top: 3vh; margin-bottom: 3vh;">Your birth chart is a symbolic snapshot of the sky at the moment of your birth.
  It shows you what memories and imprints you carry from your past lives, which define the lens through which you experience your life.

  The main elements that I elucidate are the planets and their position as seen from Earth.

  Below you have a picture of the real sky (September 10th, 2023) from <a href="https://stellarium-web.org" target="_blank">stellarium-web.org</a></p>

  <img src="/assets/images/zodiacsky.png" class="full-width-image">

  <p>In the image below you can see the segments of the sky that form the houses (houses 7-12 are above the horizon), and the symbols that represent the planets. Not pictured here are the zodiac signs, which are the “fixed” constellations in the sky that the planets move through.</p>

  <img src="/assets/images/planetsky.png" class="full-width-image">
</div>


      <!-- Section 4: Testimonials -->
      <div class="section-testimonials">
        <h2 class="has-text-centered has-text-white is-size-3 yellow-light" style="font-family: cursive; margin-bottom: 2vh; padding-bottom: 2vh;">What Others Have to Say</h2>
        <div class="testimonial-item">
            <p class="has-text-white is-size-5 has-text-centered">“The words of wisdom you shared are so powerful, and I’m so excited to reflect on everything you’ve shared with me. You’ve given me so many nuggets of gold.”</p>
            <p class="has-text-centered has-text-light"><strong>- Jennifer</strong></p>
        </div>
        <div class="testimonial-item">
            <p class="has-text-light is-size-5 has-text-centered">“You ripped me open, figured me out, and put me back together in your kind, loving, wonderful way.”</p>
            <p class="has-text-centered has-text-light"><strong>- SL</strong></p>
        </div>
        <div class="testimonial-item">
          <p class="has-text-light is-size-5 has-text-centered">“I was so pleasantly surprised by how thorough my reading was, it went into great detail in various domains of my life and it was SO accurate – there was things Victoria said that I’ve never ever shared with anyone and that showed up and confirmed a lot of the things that I was feeling and experiencing. I also really appreciated the time Victoria spent with me, she answered all my questions, and was guiding me throughout the whole process. I strongly recommend this reading for anyone that needs some clarity in their life.”</p>
          <p class="has-text-centered has-text-light"><strong>- Weronika</strong></p>
      </div>
      
    </div>
</div>

