<div class="page-container">
   
    <!-- Section 1: Title and Intro -->
    <div class="section-title">
        <h1 class="is-size-1">Family Synastry</h1>
        <p class="has-text-centered is-size-3" style="font-family: cursive;">Insight that harmonizes generations</p>
        <div class="purchase-button-container">
            <a class="button button-primary has-text-weight-light">
                Coming Soon
            </a>
        </div>
    </div>

    <!-- Section 2: Parent Reflection Questions -->
    <div class="section-questions">
        <h2 class="has-text-centered is-size-3 has-text-white" style="margin-top: 9%; font-weight: 200;">By analyzing the synastry chart between you and your partner or child, Victoria will guide you through:</h2>
        <div style="margin-top: 3%; margin-left: 1%;" class="has-text-white is-size-6">
            <p><br><span style="color: #ffd700;">✺</span> What karmic patters still exist between you and your partner or child</p>
            <p><br><span style="color: #ffd700;">✺</span> How you trigger each other, and areas of difficulty in your relationship</p>
            <p><br><span style="color: #ffd700;">✺</span> How you can work together to create a harmonious connection</p>
            <p><br><span style="color: #ffd700;">✺</span> The mission of your connection, and what each of you can do to contribute to that vision</p>
            <p><br><span style="color: #ffd700;">✺</span> For parents: your child chose you for a reason, and with these tools you can learn about your child’s karma in order to help them heal it, as well as their dharma in order to help them activate it

            </p>
        </div>
        
        
        <p class="centered-paragraph has-text-white is-size-3 has-text-centered" style="font-family: cursive;">
            Synastry brings light to unconscious and difficult patterns of relationship.
        </p>
    </div>

    

    <!-- Section 3: Purpose -->
    <div class="section-purpose has-text-centered" style="width: 90vw; margin-bottom: 6%;">
        <div class="two-column-container">
            <img src="/assets/images/self reading.png" alt="dancingTor">
            <h2 class="has-text-centered is-size-3">I Hold Space for Families to Harmonize</h2>
        </div>
        <div class="para-des has-text-centered">
            <p class="has-text-left has-text-white">Synastry is an astrological technique that compares the dynamic interplay of celestial energies between two people. This reading is for understanding the soul contract you have with your spouse or children. You have shared past incarnations together and your souls agreed to share another lifetime together because you have unfinished business. You are meant to expand each other’s consciousness in some profound way, and synastry can illuminate these details. </p>
        </div>
    </div>

</div>
