.privacy-policy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    color: #FFFFFF; /* Change all text to white */
    font-family: 'Open Sans';
    line-height: 1.6;
  }
  
  .privacy-policy-container h1 {
    text-align: center;
    color: #FFFFFF; /* Set text color to white */
    margin-bottom: 1.5rem;
  }
  
  .privacy-policy-container .last-updated {
    text-align: center;
    font-style: italic;
    color: #FFFFFF; /* Set text color to white */
    margin-bottom: 2rem;
  }
  
  .privacy-policy-container h2 {
    color: #FFFFFF; /* Set text color to white */
    margin-top: 2rem;
  }
  
  .privacy-policy-container h3 {
    color: #FFFFFF; /* Set text color to white */
    margin-top: 1.5rem;
  }
  
  .privacy-policy-container p, .privacy-policy-container ul, .privacy-policy-container address {
    color: #FFFFFF; /* Set text color to white */
    margin-bottom: 1.5rem;
  }
  
  .privacy-policy-container ul {
    padding-left: 1.5rem;
    list-style: disc;
    color: #FFFFFF; /* Set text color to white */
  }
  
  .privacy-policy-container address {
    color: #FFFFFF; /* Set text color to white */
    font-style: normal;
  }
  