<body>

    <div class="success-container">
      <h1 class="is-size-3 has-text-white" style="margin-bottom: 2vh;">Thank You!</h1>
      <p class="is-size-5">We appreciate your support and are grateful to share our passion for astrology with you.</p>
      <p style="margin-top: 4vh;">To learn more about us, follow our latest updates and resources:</p>
    
      <div class="social-links" style="margin-top: 2vh;">
        <a href="https://www.instagram.com/yourinstagram" target="_blank" class="instagram">Instagram</a>
        <a href="https://www.youtube.com/youryoutube" target="_blank" class="youtube">YouTube</a>
      </div>
    </div>
    
    </body>