<div class="about-me-container">
  <h1 class="is-size-2 has-text-white" style="margin-top: 3vh;">I am Victoria Morgan</h1>
  <h1 class="is-size-4 has-text-white" style="margin-top: 1vh; text-shadow: 
    2px 2px 6px rgba(255, 215, 0, 0.1),
    -2px -2px 6px rgba(255, 215, 0, 0.1),
    0px 0px 8px rgba(255, 215, 0, 0.05); font-family: cursive;">Intuitive Astrologer</h1>
  
  <div class="content-wrapper" style="margin-top: 3vh; margin-bottom: 3vh;">
      <div class="image-column">
          <img src="assets/images/self reading.png" alt="Goddess Astrologer" class="profile-image">
      </div>

      <div class="text-column has-text-left">
          <p class="is-size-5 has-text-white"><br>
              There's no tragic, interesting or revolutionary story about my life or how I started to become interested in the ethereal world of astrology. No turn of events put me on the path to wisdom. 
          </p>
          <p class="is-size-5 has-text-white"><br>
              It was in my early twenties that I naturally began to question my material reality and became drawn to the energetic, intangible world. The non-sensed realm we are in constant yet unconscious communication with began to reveal itself to me in symbols and patterns.
          </p>
          <p class="is-size-5 has-text-white"><br>
              The more I engaged with it, the more it revealed itself to me. This deepened my wisdom and faith in its cosmic order. I would get flooded with insights and guidance in critical moments, and then the connection would disappear. It was elusive and fleeting... but then Astrology came into my life.
          </p>
          <p class="is-size-5 has-text-white"><br>
              This most ancient science provides me with the ever-present symbolic language to translate the energetics of the universe. This translation decrypts the subliminal feedback loops we receive from the divine, guiding us to the highest order of loving expression.
          </p>
      </div>
  </div>

  <!-- Book a Reading Button -->
  <div class="button-container" style="margin-bottom: 4vh; margin-top: 6vh;">
      <a href="/reading-checkout" class="button is-primary is-size-6">Book a Reading</a>
  </div>
</div>


  