<footer class="footer has-background-black-ter">
  <div class="content has-text-centered">
    
    <!-- Footer links -->
    <div class="footer-links">
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/testimonials">Testimonials</a>
      <a href="/service-terms">Terms of Service</a>
    </div>

  <!-- Social links -->
<div class="social-links">
  <a href="https://www.youtube.com/@thestellarcompass" target="_blank" aria-label="YouTube">
      <img src="/assets/icons/youtube-icon.png" alt="YouTube">
  </a>
  <a href="https://www.instagram.com/thestellarcompass" target="_blank" aria-label="Instagram">
      <img src="/assets/icons/instagram-icon.png" alt="Instagram">
  </a>
  <a href="mailto:victoriaclaremorgan@gmail.com" aria-label="Email">
      <img src="/assets/icons/email-icon.png" alt="Email">
  </a>
  <a href="https://discord.gg/Xdcs6RPb" target="_blank" aria-label="Discord">
      <img src="/assets/icons/discord-icon.png" alt="Discord">
  </a>
</div>


    <!-- Company name -->
    <p class="company-name">&copy; 2024 The Stellar Compass</p>
    <!-- Additional software notice and GitHub link -->
  
    <p style="font-size: small; color: #bbb; margin-top: 10px;">
      View our project on 
      <a href="https://github.com/GalacticCodes/TheStellarCompass?tab=readme-ov-file" target="_blank" style="color: #00aaff;">
        GitHub
      </a>.
    </p>
    <p style="font-size: small; color: #bbb; margin-top: 10px;">
      We use the
      <a href="https://pypi.org/project/pyswisseph/" target="_blank" style="color: #00aaff;">
        pyswisseph
      </a> library under the 
      <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank" style="color: #00aaff;">
        AGPL license
      </a>.
    </p>


  </div>
</footer>

  