<footer class="footer has-background-black-ter">
    <div class="content has-text-centered">
  
      <div class="footer-links">
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/testimonials">Testimonials</a>
        <a href="/service-terms">Terms of Service</a>
      </div>

      <div class="social-links">
        <a href="https://www.youtube.com/@thestellarcompass" target="_blank" aria-label="YouTube">
          <img src="/assets/icons/youtube-icon.png" alt="YouTube">
        </a>
        <a href="https://www.instagram.com/thestellarcompass" target="_blank" aria-label="Instagram">
            <img src="/assets/icons/instagram-icon.png" alt="Instagram">
          </a>
        <a href="mailto:victoriaclaremorgan@gmail.com" aria-label="Email">
          <img src="/assets/icons/email-icon.png" alt="Email">
        </a>
      </div>
  
      <p class="company-name">&copy; 2024 The Stellar Compass</p>
    </div>
  </footer>
  