<div class="home-container">
    <div class="home-container-overlay"></div>

    <div class="text-overlay-wrapper">
      <div class="text-overlay">
        <h1 class="is-size-3">AS ABOVE : SO WITHIN</h1>
        <p class="is-size-5" style="font-family: cursive ;">Study the cosmos : illuminate yourself</p>
      </div>
    </div>
      
    <!-- Illuminated bottom element -->
    <div class="illuminated-bottom"></div>
  </div>

  


 
  <div class="content-wrapper">


    <div class="welcome-container has-text-white has-background-black-bis">


      <div class="welcome-content-container" style="margin-top: 5%;">
        
        <div class="welcome-column">
          <h2 class="is-size-2 has-text-centered">Welcome to <i>The Stellar Compass</i></h2>
        </div>
        <div class="welcome-column">
          <p class="is-size-5 has-text-centered" style="word-break: normal; hyphens: none;">Encoded within the symbology of the zodiac, is each individual's unique expression of the cosmos. My purpose is to translate the ancient language of astrology, into actionable wisdom that serves as guidance in orienting your life's direction. By expanding your consciousness and deepening your understanding of yourself, it is my mission is to provide you with clarity and initiate healing within yourself.</p>
        </div>
      </div>

      <!-- Keep "Our Offerings" section on its own line -->
      <div class="offerings-container">
          <h1 class="is-size-2" style="font-family: cursive;"> Offerings</h1>
      </div>

      <!-- New Section with Three Boxes -->
      <div class="centered-container">
        

          
          <div class="box-container">
              <!-- Box 1: Natal Chart Readings -->
              <a href="/readings" class="box-link">
                  <div class="box custom-background">
                      <img src="/assets/images/website thumbnails.png" alt="Natal Chart Readings">
                      <h2 class="is-size-4 has-text-white">Natal Chart Readings</h2>
                      <div class="divider"></div>
                      <div class="star-list-container">
                        <ul class="star-list">
                          <li><a style="color:#DAA520;">✺</a> Clarify your soul's intention and desire for this lifetime</li>
                          <li><a style="color:#DAA520;">✺</a> Harmonize with your authentic self</li>
                          <li><a style="color:#DAA520;">✺</a> Meet and make peace with your own darkness</li>
                          <li><a style="color:#DAA520;">✺</a> Analyze your karmic past</li>
                          <li><a style="color:#DAA520;">✺</a> See yourself as whole</li>
                        </ul>
                      </div>
                      
                      <button class="box-button">Learn More</button>
                  </div>
              </a>

              <!-- Box 2: Kids Astro Report Card -->
              <a href="/kids-report" class="box-link">
                  <div class="box custom-background">
                      <img src="/assets/images/kidthumbnail.png" alt="Kids Astro Report Card">
                      <h2 class="is-size-4 has-text-white">Cosmic Compass for Kids</h2>
                      <div class="divider"></div>
                      <div class="star-list-container">
                        <ul class="star-list">
                          <li><a style="color:#DAA520;">✺</a> Understand your child's emotional world</li>
                          <li><a style="color:#DAA520;">✺</a> Discover their communication style</li>
                          <li><a style="color:#DAA520;">✺</a> Uncover optimal learning methods</li>
                          <li><a style="color:#DAA520;">✺</a> Identify natural talents and opportunities for growth</li>
                          <li><a style="color:#DAA520;">✺</a> Understand the filter through which your child perceives you</li>
                      </ul>
                      
                      
                      </div>
                      <button class="box-button">Learn More</button>
                  </div>
              </a>

              <!-- Box 3: Family Synastry Readings -->
              <a href="/family-synastry" class="box-link">
                  <div class="box ">
                      <img src="/assets/images/familythumbnail.png" alt="Family Synastry Readings">
                      <h2 class="is-size-4 has-text-white">Family Synastry</h2>
                      <div class="divider"></div>
                      <div class="star-list-container">
                        <ul class="star-list">
                          <li><a style="color:#DAA520;">✺</a> Synastry analysis for spousal or parent-child connection</li>
                          <li><a style="color:#DAA520;">✺</a> Analysis of past lives together and the karmic purpose behind your connection</li>
                          <li><a style="color:#DAA520;">✺</a> Uncover what you are here to learn from each other</li>
                          <li><a style="color:#DAA520;">✺</a> Learn how to balance the tension points in your relationship</li>
                          <li><a style="color:#DAA520;">✺</a> Illuminate the path to the highest expression of your relationship</li>
                         
                      </ul>
                      
                      
                      </div>
                      <button class="box-button">Learn More</button>
                  </div>
              </a>
          </div>
      </div>


    </div>
</div>
<div class="introduction-container">
  <!-- Galaxy Background Canvas -->
  <app-galaxy-canvas class="galaxy-background"></app-galaxy-canvas>

  <h1 class="title is-size-2" style="font-family: cursive; max-width: fit-content;">Hi, I'm Victoria</h1>

  <!-- Profile Image -->
  <div class="image-container" style="margin-top: 5%; margin-bottom: 5%;">
      <img src="assets/images/moontor.png" alt="Victoria - Goddess Astrologer" class="profile-image">
  </div>

  <!-- Short Paragraph -->
  <p class="intro-paragraph is-size-5" style="font-family: Open Sans;">
      Half academic, half intuitive, I am a translator of the sky, taking the wisdom encrypted into the zodiac and sharing it with the world to support our collective evolution.
  </p>
  <p class="is-size-5"   style="margin-bottom: 6%;"> <br>I am a Cancer Sun, Sagittarius Moon and Leo Rising.</p>

  <!-- Button to About Page -->
  <a href="/about" class="about-button" style="margin-bottom: 2vh;">Learn More About Me</a>
</div>
      



