<div class="full-page-container">
  <div class="container">
    <div class="columns is-centered">
      
      <div class="box has-background-black-ter">
        <!-- Title -->
        <h2 class="has-text-centered">Calculate Your Birth Chart</h2>
        
        <!-- Subtitle/Description -->
        <p class="has-text-centered has-text-white">This chart uses the whole sign house system.</p>
        
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        
        <form (submit)="onSubmit()">
          <!-- Name Field -->
          <div class="field">
            <label class="label" for="name">Name:</label>
            <div class="control">
              <input class="input" type="text" id="name" [(ngModel)]="name" name="name" placeholder="Enter your full name" required>
            </div>
          </div>
        
          <!-- Birth Date Field -->
          <div class="field">
            <label class="label" for="birthDate">Birth Date:</label>
            <div class="control">
              <input class="input" type="date" id="birthDate" [(ngModel)]="birthDate" name="birthDate" placeholder="YYYY-MM-DD" required>
            </div>
          </div>
        
          <!-- Local Time Field -->
          <div class="field">
            <label class="label" for="birthLocalTime">Local Time of Birth:</label>
            <div class="control">
              <input class="input" type="time" id="birthLocalTime" [(ngModel)]="birthLocalTime" name="birthLocalTime" placeholder="HH:MM" required>
            </div>
          </div>
        
          <!-- Town of Birth Field with Autocomplete -->
          <div class="field">
            <label class="label" for="birthTown">Town of Birth:</label>
            <div class="control">
              <input
                class="input"
                type="text"
                id="birthTown"
                [(ngModel)]="birthTown"
                (input)="onTownInput($event)"
                name="birthTown"
                placeholder="Enter the town or city name"
                required
                autocomplete="off"
              >
            </div>
            <!-- Autocomplete Suggestions -->
            <div *ngIf="suggestions.length > 0" class="autocomplete-list">
              <div *ngFor="let suggestion of suggestions" (click)="selectTown(suggestion)" class="autocomplete-item">
                {{ suggestion.description }}
              </div>
            </div>
          </div>
        
          <!-- Centered Button with White Luminance Shadow -->
          <div class="field">
            <div class="control has-text-centered">
              <button type="submit" class="button is-primary button-shadow">Calculate</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
