<div class="testimonial-container" style="margin-top: vh;">
    <h2 class="testimonial-heading has-text-white is-size-2">Testimonials</h2>

    <div>
        <div class="testimonial-content" style="margin-top: 4vh;">
            <p class="testimonial-quote is-size-5" >
                "The words of wisdom you shared are so powerful, and I’m so excited to reflect on everything you’ve shared with me. You’ve given me so many nuggets of gold."
            </p>
            <div class="testimonial-author">
                <div class="author-details">
                    <p class="author-name is-size-4" style="font-family: cursive;">-Jennifer</p>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center;" class="testimonial-card">
        <a href="https://youtu.be/WHKUJ8NR_28" target="_blank">
          <img src="/assets/images/tanvi.png" alt="Play Video" style="width:100%; max-width:400px;">
        </a>
      </div>
    <div>
        <div class="testimonial-content">
            <p class="testimonial-quote is-size-5">
                "You ripped me open, figured me out, and put me back together in your kind, loving, wonderful way."
            </p>
            
                <div class="author-details">
                    <p class="author-name is-size-4" style="font-family: cursive;">-Sue</p>
                </div>
        </div>
    </div>
    <div style="text-align:center;" class="testimonial-card">
        <a href="https://youtu.be/HEjSkQn_Izo" target="_blank">
          <img src="/assets/images/weronika.png" alt="Play Video" style="width:100%; max-width:400px;">
        </a>
      </div>
      
      
    <div>
        <div class="testimonial-content">
            <p class="testimonial-quote is-size-5" >
                "I was so pleasantly surprised by how thorough my reading was, it went into great detail in various domains of my life and it was SO accurate – there was things Victoria said that I’ve never ever shared with anyone and that showed up and confirmed a lot of the things that I was feeling and experiencing. I also really appreciated the time Victoria spent with me, she answered all my questions, and was guiding me throughout the whole process. I strongly recommend this reading for anyone that needs some clarity in their life."
            </p>
           
                <div class="author-details">
                    <p class="author-name  is-size-4" style="font-family: cursive;">-Weronkia</p>
                
                </div>
        </div>
    </div>
    
</div>
