.chart-container {
  position: relative;
  aspect-ratio: 8.5 / 11;  /* Maintains an 8.5x11 aspect ratio */
  max-width: 810px;        /* Maximum width for desktop */
  width: 100%;             /* Full width up to the max-width */
  margin: 0 auto;          /* Center the container */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;        /* Hide any overflow content */
}


.header-container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  color: black;
  font-size: calc(1.5vw); /* Scale text size based on viewport dimensions */
  padding: calc(0.22vw + 0.22vh); /* Consistent padding */
}

/* Child components (e.g., app-base-chart, app-planets, etc.) are still positioned relatively within the wheel-container */
app-base-chart, app-houses, app-planets, app-transits, app-aspects {
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  height: 100%;
}

app-base-chart {
  z-index: 1;  /* Base chart at the bottom */
}

app-houses {
  z-index: 2;  /* Houses on top of the base chart */
}

app-planets {
  z-index: 3;  /* Planets on top of houses and base chart */
}

app-transits {
  z-index: 4;
}

app-aspects {
  z-index: 5;
}
.stellar-compass-container {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  color: black;
  font-size: calc(0.69vw + 0.33vh); /* Same font scaling as header */
  padding: calc(0.22vw + 0.22vh); /* Consistent padding with header */
  width: 50vw ;
  max-width: 450px;
}

.stellar-compass-container h1 {
  font-size: 3.6vw;  /* Default scaling with viewport width */
  color: black;
}

.stellar-compass-container p {
  font-size: 1.5vw;  /* Proportionally smaller than h1 */
  color: black;
}


.cursive{
  font-family: cursive; font-size: 2.1vw;}

/* Limit font size at a max viewport width of 1155px */
@media (min-width: 999px) {
  .stellar-compass-container h1{
    font-size: 28.875px;  /* 2.5vw at 1155px */
  }

  .cursive{
    font-size: 21px;
  }

  .stellar-compass-container p, .header-container{
    font-size: 13.86px;   /* 1.2vw at 1155px */
  }
}


/* Ensure proper scaling on mobile devices */
@media (max-width: 600px) {
  .chart-container {
      width: 100%;  /* Full width of the viewport */
      padding-top: calc(11 / 8.5 * 100%);  /* Maintain aspect ratio */
      max-width: none;  /* No max width on mobile */
  }
}



.natal-details-pinned {
  position: absolute;
  bottom: 20px;        /* Adjust as needed */
  left: 20px;          /* Adjust as needed */
  color: black;        /* Black font color */
  background: none;    /* Transparent background */
  z-index: 5;
}
